/* styles.css */

.theVh {
    height: 85vh !important;
}

.section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80% !important;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row-profile {
    justify-content: center;
}

.card-lg {
    width: 400px !important;
    height: 300px !important;
    border-radius: 15px !important;
        background-color: rgba(66, 122, 83, 0.671) !important;
    /* Additional styling properties */
}