.footPrint {
    font-family: 'animaltracksregular';
    color: rgba(120, 156, 181, 0.303);
    font-size: 48.5px;
    padding-top: 59px;
    margin-bottom: -18px;
}

.animalSilFontText {
    display: flex;
    justify-content: center;
    font-family: 'afrika_wildlife_b_mammals2Rg';
    color: rgba(20, 182, 106, 0.208);
    font-size: 45px;
    margin-bottom: -36.7px;
    margin-top: -28px;
}
.containerGoal {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 85vh !important;
}

.form--post {
    width: 100% !important;
    max-width: 790px !important;
    padding: 5px !important;
    background-color: #3e705785 !important;
    border-radius: 4px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) !important;
}

.custom-form-label {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-family: 'im_fell_english_proregular';
    color: #16191dac;
    font-size: 45px;
    margin-bottom: -5px;
}

.label {
    font-weight: bold !important;
    margin-bottom: 10px !important;
    color: #fff !important;
}

.form-group {
    margin-bottom: 20px !important;
}

.gameModeContainer,
.mapContainer {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;

}

.inputContainer {
    display: flex !important;
    align-items: center !important;

}

.input {
    padding: 8px !important;
    border-radius: 4px !important;
    border: 1px solid #9ccc65 !important;
    flex: 1;
    /* Added flex: 1 to grow to available width */
}

#habitatAmount, #exhibitAmount {
    width: 250px;
    margin-left: 80px;
}

.btnContinueGoal {
    font-family: 'natureregular' !important;
    font-size: 30px !important;
    margin-top: 5px !important;
    position: relative !important;
    padding: 10px 40px !important;
    background-color: transparent !important;
    color: #fff !important;
    border: none !important;
    border-radius: 0 !important;
    overflow: hidden !important;
    transition: transform 0.3s ease-in-out !important;
    font-weight: bold !important;
    letter-spacing: 1px !important;
    text-transform: uppercase !important;
    cursor: pointer !important;
}

.btnContinueGoal::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 16px solid #ffffff;
    transform: translateY(-50%);
    transition: border-color 0.3s ease-in-out;
}

.btnContinueGoal:hover {
    transform: translateX(10px) !important;
}

.btnContinueGoal:hover::before {
    border-left-color: #b7f9d7;
}

.container-gameMode,
.container-habitatGoalAmn,
.container-exhibitGoalAmn,
.container-zooMap {
    margin-bottom: -65px;
}