.toggle--container {
    display: block !important;
    justify-content: center !important;
    align-items: center !important;
    height: 65vh !important;
}

.footPrintFont {
    font-family: 'animaltracksregular';
    font-size: 50px;
    color: rgba(44, 215, 124, 0.225);
    letter-spacing: 15px;
}

.buttonResultToggle {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding-top: 35px !important;
    padding-bottom: 50px !important;
}

.ResultButton {
    display: flex !important;
    background-color: rgba(52, 136, 129, 0.699) !important;
    align-items: center !important;
    padding: 5px 20px !important;
    border-radius: 8px !important;
    border: none !important;
    color: rgb(185, 252, 221) !important;
    font-family: 'end_of_anthropoceneregular' !important;
    font-size: 50.9px !important;
    text-shadow: 2px 2px 7px #CDF4D1 !important;
    letter-spacing: 5.5px !important;
    -webkit-box-shadow: 5px 5px 15px 5px #0000006c !important;
    box-shadow: 5px 5px 15px 5px #00000046 !important;
}

.ResultButton:hover {
    background-color: rgba(92, 146, 119, 0.705) !important;
    cursor: pointer !important;
}

.ResultButton:focus {
    outline: none !important;
}

.planList {
    list-style: none !important;
    margin-bottom: 9% !important;
    text-align: center;
}

.transparentCard {
    background-color: transparent !important;
    border: none !important;
    margin-left: 40.5% !important;
    text-align: center;
}

.row-custom {
    margin-left: 130px !important;
    margin-right: 140px !important;
    font-size: 15px !important;
    text-align: center;
}

.col-custom {
    width: 25% !important;
    margin-top: -40px !important;
    text-align: center;
}

.card-custom--result {
    background-color: rgba(117, 161, 126, 0.748) !important;
    padding: 5px !important;
    margin: 60px !important;
    text-align: center;
}

.card-body-custom {
    overflow-wrap: break-word !important;
    margin: 0 !important;
    padding: 5px !important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    text-align: center;
}

.centerContent-image {
    display: block !important;
    justify-content: center !important;
    align-items: center !important;
    margin-right: 745px !important;
}