.testingAn {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: -150px;
    font-family: 'zoologicregular';
    font-size: 47.5px;
    letter-spacing: 8px;
    color: rgba(20, 182, 106, 0.208);
}

.pawFootText {
    font-family: 'animaltracksregular';
    font-size: 39.9px;
    color: rgba(120, 156, 181, 0.303);
}